apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mw-auto-injector
  name: mw-auto-injector
  namespace: mw-autoinstrumentation
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mw-auto-injector
  template:
    metadata:
      labels:
        app: mw-auto-injector
    spec:
      tolerations:
        - key: acme.com/lifespan-remaining
          operator: Exists
          effect: NoSchedule
      containers:
        - image: ghcr.io/middleware-labs/mw-auto-injector:beta
          imagePullPolicy: IfNotPresent
          name: mw-auto-injector
          env:
            - name: TLS
              value: "true"
            - name: LOG_LEVEL
              value: "debug"
            - name: LOG_JSON
              value: "false"
            - name: MW_TARGET
              value: ""
            - name: MW_API_KEY
              value: ""
            - name: MW_KUBE_CLUSTER_NAME
              value: "unknown"
          resources:
            limits:
              cpu: 200m
              memory: 256Mi
            requests:
              cpu: 100m
              memory: 128Mi      
          volumeMounts:
            - name: tls
              mountPath: "/etc/admission-webhook/tls"
              readOnly: true
      volumes:
        - name: tls
          secret:
            secretName: mw-auto-injector-tls